@import 'font.css';

* {
  margin: 0;
  padding: 0;
}

header{
  background-color: #f5fcfd !important;
}

body{
  font-family: 'quicksandRegular' !important;
  color: #929292 !important;
}

.bg-grey{
  background-color: #f5fcfd !important;
}
.bg-white{
  background-color: #ffffff !important;
}
.bg-blue{
  background-color: #0f7bff !important;
}

.h{
  color: #333333;
  font-family: 'quicksandMeduim';
}

.blue{
  color: #0f7bff;
}

.white{
  color: #ffffff;
}


